<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ios-catalyst" version="0.0.1">
    <name>Mac Catalyst</name>
    <description>Provide functions for iOS running under macOS Catalyst</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <js-module src="www/maccatalyst.js" name="maccatalyst">
        <clobbers target="maccatalyst" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MacCatalyst">
                <param name="ios-package" value="CDVMacCatalyst"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVMacCatalyst.h" />
        <source-file src="src/ios/CDVMacCatalyst.m" />
    </platform>
</plugin>